# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/onshape_db

# Onshape API Configuration
ONSHAPE_ACCESS_KEY=LfcYkO224R90p5xICwoHxyZ8
ONSHAPE_SECRET_KEY=HiW2fs0KtMnGBhFacnbV8PMDbCWuu0ih6MxyNp1tLkFJ70QP
ONSHAPE_BASE_URL=https://cad.onshape.com/api

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True

# Security
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30 